body {
	background: lightsalmon;
	padding: 24px;
}
.column1 {
	background: pink;
	height: 50px;
}
.column2 {
	background: white;
	height: 50px;
}
.column3 {
	background: grey;
	height: 50px;
}
img {
	width: 100%;
	margin: 0 auto;
}